@using GridMvc.Html
@model IEnumerable<AcademyPlatform.Web.Models.Courses.CategoryListViewModel>

@{
    ViewBag.PageTitle = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Нова категория", "Create", null, new {@class="btn btn-danger"})
</p>


@Html.Grid(Model).Columns(columns =>
{
       columns.Add(x => x.Title).Titled("Title");	


columns.Add().RenderValueAs(x => Html.ActionLink("Редактирай", "Edit", "Categories", new { id = x.Id, Area = "Admin" }, new { @class = "btn btn-info"})).Encoded(false).Sanitized(false);
columns.Add().RenderValueAs(x => Html.ActionLink("Изтрий", "Delete", "Categories", new { id = x.Id, Area = "Admin" }, new { @class = "btn btn-danger"})).Encoded(false).Sanitized(false);
}

).Sortable(true).WithPaging(5).Filterable(true)
