<header class="account-header clearfix">
    <a class="account-nav-button" href="javascript:void(0)" onclick="">
        <i class="fa fa-bars"></i>
    </a>
    <form action="#" method="post" class="account-form-search" role="search">
        <input type="text" id="top-search" name="top-search" class="form-search" placeholder="Търсене..">
        <a href="#"><i class="fa fa-search"></i></a>
    </form>
    <div class="account-dropdown dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
            <span>
                <img src="@Url.Content("~/images/Valq.png")" alt="avatar">
            </span>
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
            <li class="dropdown-header text-center">Акаунт</li>
            <li>
                <a href="#">
                    <i class="fa fa-user"></i>
                    Моят акаунт
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-graduation-cap"></i>
                    Моите курсове
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-mail"></i>
                    Съобщения
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-logout"></i>
                    Изход
                </a>
            </li>
        </ul>
    </div>
</header>