@model AcademyPlatform.Web.Umbraco.Controllers.DocumentTypeControllers.AssessmentSubmissionResult

    <div>Correctly Answered: @Model.CorrectlyAnswered</div>
    <div>Incorrectly Answered: @Model.IncorrectlyAnswered</div>
    
