@using AcademyPlatform.Web.Umbraco.Common
@inherits UmbracoTemplatePage

<title>@Umbraco.Field(DocumentTypes.Seo.Title) - Фокус Академия</title>
<meta name="description" content="@Umbraco.Field(DocumentTypes.Seo.Description)" />
<meta name="keywords" content="@Umbraco.Field(DocumentTypes.Seo.Keywords)" />
