@using AcademyPlatform.Web.Models.Umbraco.DocumentTypes
@inherits UmbracoViewPage<dynamic>

<title>@Umbraco.Field(nameof(Seo.Title)) - Фокус Академия</title>
<meta name="description" content="@Umbraco.Field(nameof(Seo.Description))" />
<meta name="keywords" content="@Umbraco.Field(nameof(Seo.Keywords))" />
