@{
    ViewBag.PageTitle = "За Нас";
}

<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title">За Академията</h1>
                <div class="separator mb-20"></div>
                <!-- page-title end -->
                <div class="row">
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per.</p>
                        <p>Sed eget pulvinar quam, vel feugiat enim. Aliquam erat volutpat. Phasellus eu porta ipsum. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per. Vestibulum velmo.</p>
                        <ul class="list-icons">
                            <li class="object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall"><i class="fa fa-check"></i> Etiam sed dolor ac diam volutpat</li>
                            <li class="object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="fa fa-check"></i> Sed eget pulvinar quam, vel feugiat enim aliquam </li>
                            <li class="object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="150"><i class="fa fa-check"></i> Erat volutpat. Phasellus eu porta ipsum suspendisse aliquet imperdiet</li>
                            <li class="object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="200"><i class="fa fa-check"></i> Phasellus eu porta ipsum. Suspendisse aliquet imperdiet commodo</li>
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="title">Защо да <strong>Изберете нас</strong></h2>
                <div class="separator"></div>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Perferendis tenetur beatae adipisci atque.</p>

                <!-- section start -->
                <!-- ================ -->
                <section class="pv-30 clearfix">
                    <div class="container">
                        <h3>Нашият <strong>Екип</strong></h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="image-box team-member shadow mb-20">
                                    <div class="overlay-container">
                                        <img src="@Url.Content("~/Content/Images/team-member.jpg")" alt="">
                                        <div class="overlay-to-top">
                                            <div class="text">
                                                <h3 class="title">Jane Doe - <span class="small">CTO</span></h3>
                                                <ul>
                                                    <li>Много готин</li>
                                                    <li>Много готин</li>
                                                    <li>Много готин</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="image-box team-member shadow mb-20">
                                    <div class="overlay-container">
                                        <img src="@Url.Content("~/Content/Images/team-member.jpg")" alt="">
                                        <div class="overlay-to-top">
                                            <div class="text">
                                                <h3 class="title">John Doe - <span class="small">Manager</span></h3>
                                                <ul>
                                                    <li>Много дебел</li>
                                                    <li>Много дебел</li>
                                                    <li>Много дебел</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="image-box team-member shadow mb-20">
                                    <div class="overlay-container">
                                        <img src="@Url.Content("~/Content/Images/team-member.jpg")" alt="">
                                        <div class="overlay-to-top">
                                            <div class="text">
                                                <h3 class="title">Margaret Crayz - <span class="small">Developer</span></h3>
                                                <ul>
                                                    <li>Много умен</li>
                                                    <li>Много умен</li>
                                                    <li>Много умен</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>