@{
    ViewBag.PageTitle = "Очаквайте скоро";
}
<div class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
    <!-- logo -->
    <div id="logo" class="logo text-center">
    </div>
    <h1 class="page-title text-center">Очаквайте Скоро</h1>
    <div class="separator"></div>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure perspiciatis quod, voluptatum, porro pariatur facere id in unde obcaecati nobis sapiente cupiditate ipsa veniam quam natus voluptate ipsum minima soluta!</p>
    <ul class="list-inline mb-20 text-center">
        <li><i class="text-default fa fa-map-marker pr-5"></i>One infinity loop, 54100</li>
        <li><a href="tel:+00 1234567890" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-5"></i>+00 1234567890</a></li>
        <li><a href="mailto:info@theproject.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>info@theproject.com</a></li>
    </ul>

</div>