@{
    ViewBag.PageTitle = "Контакти";
}
@section PreContent{
<div class="banner dark-translucent-bg" style="background-image:url('#'); background-position: 50% 30%;">
    <!-- breadcrumb start -->
    <!-- ================ -->
    <!-- breadcrumb end -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-20">
                <h2 class="title">Свържете се с нас</h2>
                <div class="separator mt-10"></div>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.</p>
            </div>
        </div>
    </div>
</div>
}

<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-8 space-bottom">
                <p class="lead">It would be great to hear from you! Just drop us a line and ask for anything with which you think we could be helpful. We are looking forward to hearing from you!</p>
                <div class="alert alert-success hidden" id="MessageSent">
                    Получихме вашето съобщение и ще се свържем с вас възможно най-бързо.
                </div>
                <div class="alert alert-danger hidden" id="MessageNotSent">
                    Нещо се обърка! Моля презаредете страницата и опитайте отново.
                </div>
                <div class="contact-form">
                    <form id="contact-form" class="margin-clear" role="form" novalidate="novalidate">
                        <div class="form-group has-feedback">
                            <label for="name">Име*</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="">
                            <i class="fa fa-user form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="">
                            <i class="fa fa-envelope form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="subject">Относно*</label>
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="">
                            <i class="fa fa-navicon form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="message">Съобщение*</label>
                            <textarea class="form-control" rows="6" id="message" name="message" placeholder=""></textarea>
                            <i class="fa fa-pencil form-control-feedback"></i>
                        </div>
                        <input type="submit" value="Submit" class="submit-button btn btn-default">
                    </form>
                </div>
            </div>
            <!-- main end -->
            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-3 col-lg-offset-1">
                <div class="sidebar">
                    <div class="side vertical-divider-left">
                        <h3 class="title logo-font">A<span class="text-default">cademy</span></h3>
                        <div class="separator-2 mt-20"></div>
                        <ul class="list">
                            <li><i class="fa fa-home pr-10"></i>795 Folsom Ave, Suite 600<br><span class="pl-20">San Francisco, CA 94107</span></li>
                            <li><i class="fa fa-phone pr-10"></i><abbr title="Phone">P:</abbr> (123) 456-7890</li>
                            <li><i class="fa fa-mobile pr-10 pl-5"></i><abbr title="Phone">M:</abbr> (123) 456-7890</li>
                            <li><i class="fa fa-envelope pr-10"></i><a href="mailto:info@idea.com">info@theproject.com</a></li>
                        </ul>
                        <ul class="social-links circle small margin-clear clearfix animated-effect-1">
                            <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                            <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                            <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                            <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                            <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                            <li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
                            <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                        <div class="separator-2 mt-20 "></div>
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->
        </div>
    </div>
</section>