@inherits Umbraco.Web.Mvc.UmbracoViewPage<AcademyPlatform.Web.Models.Assessments.AssessmentViewModel>
<div class="container gray-bg">
    <div class="row">
        <div class="col-md-12">
            <div class="pv-30 ph-20 exam-box feature-box bordered text-justify object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg small"><i class="fa fa-info"></i></span>
                @Html.Raw(Model.Description)
            </div>
        </div>
        @using (Html.BeginForm())
            {
            @Html.HiddenFor(x => x.AssessmentRequestId)
            var questionIndex = 0;
            foreach (var question in Model.Questions)
            {
                @Html.EditorFor(x => question, null, $"Questions[{questionIndex}]", new { QuestionIndex = questionIndex })
                questionIndex++;
            }
            <div class="col-md-12">
                <input type="submit" name="form" class="submit-button btn btn-default" value="Изпращане на изпита" />
            </div>
        }
    </div>
</div>
asdas