@inherits UmbracoViewPage

@section PreContent{
    @Umbraco.Field("subHeader")
}
<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
                <!-- page-title start -->
                <!-- ================ -->
                <!-- page-title end -->
                <!--Isotope filters-->
                @Umbraco.RenderMacro("CoursesGrid")
            </div>
            <!-- main end -->
        </div>
    </div>
</section>