@{
    Layout = "~/Views/StudentSite.cshtml";
}

<section class="pv-30 light-gray-bg padding-bottom-clear clearfix">
    <div class="container">
        <div class="row">
            <div class="main col-md-9 col-sm-12 col-xs-12">
                <div class="col-md-12" id="info">
                    <div class="pv-20 ph-20 feature-box-2 boxed white-bg">
                        <span class="icon default-bg small"><i class="fa fa-info"></i></span>
                        <div class="body">
                            <h4 class="title">Информация за курса</h4>
                            <p><strong>За кого е предназначено обучението?</strong></p>
                            <ul>
                                <li>Подходящо за всички, които познават предишната версия на стандарта от 2008г.</li>
                                <li>Ръководители на организации, представители на ръководството, вътрешни одитори, служители на организации с внедрени системи за управление на качеството.</li>
                                <li>За всички, които самостоятелно или с помощта на консултант, ще адаптират системите си за управление на качеството към новите изисквания.</li>
                            </ul>
                            <p><strong>Когато завършите успешно обучението, вие ще</strong></p>
                            <ul>
                                <li>познавате и разбирате новите формулировки за принципите за управление на качеството.</li>
                                <li>познавате изискванията на новата версия и ще можете да ги интерпретирате в контекста на различни системи за управление на качеството.</li>
                                <li>можете да направите анализ на разликите (GAP analysis) и да планирате промените в системата за управление на качеството, внедрена във вашата организация.</li>
                                <li>познавате правилата и сроковете за преход от старата към новата версия на стандарта.</li>
                            </ul>
                            <p><strong>Модули: </strong></p>
                            <ol>
                                <li>Въведение</li>
                                <li>За промените накратко</li>
                                <li>Новите принципи за управление на качеството</li>
                                <li>Новата структура, новите термини в ISO 9001:2015 и процесния подход</li>
                                <li>ISO 9001:2015 - Клаузи от 1 до 4</li>
                                <li>ISO 9001:2015 - Клауза 5</li>
                                <li>ISO 9001:2015 - Клауза 6</li>
                                <li>ISO 9001:2015 - Клауза 7</li>
                                <li>ISO 9001:2015 - Клауза 8</li>
                                <li>ISO 9001:2015 - Клауза 9</li>
                                <li>ISO 9001:2015 - Клауза 10</li>
                                <li>Как да направим анализ на разликите и да планираме промените</li>
                                <li>Правила и срокове за преход от версия 2008г. към версия 2015г.</li>
                                <li>Изпит</li>
                            </ol>
                            <p><strong>Собственик на обучението:</strong> <a href="/{localLink:2178}" title="Training Partner ICL" data-id="2178">"Интернешънал Сертификейшънс България" ЕООД </a></p>
                            <p> Дата на публикуване: <i class="fa fa-calendar"></i><strong> 21.11.2222</strong></p>
                            <ul>
                                <li>Видео <i class="fa fa-check"></i></li>
                                <li>Аудио <i class="fa fa-close"></i></li>
                                <li>Изпит <i class="fa fa-check"></i></li>
                                <li>Платен <i class="fa fa-check"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" id="1">
                    <div class="pv-20 ph-20 feature-box-2 boxed white-bg">
                        <span class="icon default-bg small">1</span>
                        <div class="body">
                            <h4 class="title">Онсови</h4>
                            <p>Текст описващ нещо за модула</p>
                            <div class="col-md-1">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="text-left">1.1 <a href="#">HTML Структура</a></td>
                                                    <td class="text-right"><a href="#"><i class="fa fa-check"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">1.2 <a href="#">HTML Основни елементи</a></td>
                                                    <td class="text-right"><a href="#"><i class="fa fa-check"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">1.3 <a href="#">Нови елементи в HTML5</a></td>
                                                    <td class="text-right"><a href="#"><i class="fa fa-play"></i> Старт</a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">1.4 <a href="#">HTML5 Семантика</a></td>
                                                    <td class="text-right"><a href="#"><i class="fa fa-play"></i> Старт</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" id="2">
                    <div class="pv-20 ph-20 feature-box-2 boxed white-bg">
                        <span class="icon default-bg small">2</span>
                        <div class="body">
                            <h4 class="title">Онсови</h4>
                            <p>Текст описващ нещо за модула</p>
                            <div class="col-md-1">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="text-left">2.1 <a href="#">HTML5 Форми</a></td>
                                                    <td class="text-right"><a href="#"><i class="fa fa-play"></i> Старт</a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">2.2 <a href="#">HTML5 Медия</a></td>
                                                    <td class="text-right"><a href="#"><i class="fa fa-play"></i> Старт</a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">2.3 <a href="#">HTMl5 APIs</a></td>
                                                    <td class="text-right"><a href="#"><i class="fa fa-play"></i> Старт</a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">2.4 <a href="#">HTML5 Графики</a></td>
                                                    <td class="text-right"><a href="#"><i class="fa fa-play"></i> Старт</a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">2.5 <a href="#">HTML5 Примери</a></td>
                                                    <td class="text-right"><a href="#"><i class="fa fa-play"></i> Старт</a></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">2.6 <a href="#">HTML5 Референции</a></td>
                                                    <td class="text-right"><a href="#"><i class="fa fa-play"></i> Старт</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <aside class="col-md-3  hidden-sm hidden-xs">
                <div class="sidebar ph-20 feature-box-2 boxed white-bg space-bottom affix-top ">
                    <nav class="affix-menu scrollspy">
                        <h4>Статус</h4>
                        <div><strong>Модул: </strong>0/14       </div>
                        <div><strong>Лекции: </strong>0/30      </div>
                        <div><strong>Изпит: </strong>Недостъпен </div>
                        <div><strong>Сертификат: </strong>Невзет</div>
                        <div><strong>Последно посещавана лекция: </strong><a href="#">1.2 HTML Основни елементи</a></div>
                    </nav>
                </div>
            </aside>
        </div>
    </div>
</section>