@model AcademyPlatform.Web.Models.Courses.CategoryEditViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Category</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit") |
    @Html.ActionLink("Back to List", "Index")
</p>


